* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: black; }

ol {
  list-style: none; }

ul {
  list-style: none; }

html {
  font-size: 62.5%; }

.checkbox, .icons {
  display: none; }

.header-nav h3 {
  display: none; }

.header-inicio p {
  display: none; }

.checkbox2, .fl {
  display: none; }

.redesCostado {
  position: fixed;
  top: 40rem;
  left: 0.5rem; }
  .redesCostado img {
    width: 4rem;
    height: 4rem;
    margin: 10px;
    border-radius: 25%; }
  .redesCostado img:hover {
    transform: scale(1.2); }
  .redesCostado li {
    margin-top: 10px;
    border-radius: 50%;
    background-color: #FBE6D4;
    box-shadow: 0px 5px 10px black; }

.footer {
  display: flex;
  background-color: #FFA931;
  justify-content: space-between;
  z-index: 999;
  border-top: 2px solid black; }
  .footer .footer-class {
    font-family: "PT Sans", sans-serif; }
    .footer .footer-class ul {
      display: flex;
      flex-direction: column; }
    .footer .footer-class img {
      width: 3rem; }
    .footer .footer-class h3 {
      font-size: 2.5rem;
      text-align: center;
      padding-top: 0.5rem; }
    .footer .footer-class li {
      font-size: 1.6rem;
      font-weight: 600; }
  .footer .footer-horarios h3 {
    font-family: "PT Sans", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem; }
  .footer .footer-horarios p {
    font-family: "PT Sans", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem; }
  .footer .footer-ubicacion h3 {
    font-family: "PT Sans", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem; }
  .footer .footer-ubicacion p {
    font-family: "PT Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 3.5rem;
    text-align: center; }
  .footer .footer-img {
    display: flex; }
    .footer .footer-img img {
      width: 17.1rem; }
  @media (max-width: 768px) {
    .footer {
      flex-direction: column; }
      .footer .footer-class img {
        display: none; }
      .footer .footer-class ul {
        text-align: center; }
        .footer .footer-class ul li {
          padding-top: 1rem; }
      .footer .footer-horarios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      .footer .footer-ubicacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }

header {
  background-color: #FBE6D4;
  font-family: "Island Moments", cursive;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  z-index: 999; }
  header h1 {
    font-size: 10rem;
    font-weight: 600;
    word-spacing: 2rem; }
  header ul {
    display: flex;
    justify-content: space-around; }
    header ul img {
      width: 7rem;
      padding-top: 1rem; }
    header ul p {
      font-size: 3rem;
      font-weight: 600;
      text-align: center; }
    header ul li :hover {
      transform: scale(1.1); }

.main-index {
  background-color: #FECB89; }
  .main-index article {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
    height: 85.7rem;
    border-bottom: 2px solid black; }
    .main-index article .ruleta-fotos {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 5; }
      .main-index article .ruleta-fotos img {
        width: 100%;
        height: 85.5rem;
        filter: opacity(0.9);
        object-fit: cover; }
    .main-index article .logo {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 5;
      z-index: 1; }
      .main-index article .logo img {
        width: 95%; }
    .main-index article .horarios {
      width: 100%;
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 4;
      grid-row-end: 5;
      z-index: 994; }
      .main-index article .horarios p {
        font-family: "PT Sans", sans-serif;
        font-size: 2.7rem;
        font-weight: 600; }
  .main-index .galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15rem repeat(2, 1fr); }
    .main-index .galeria p {
      text-align: center;
      font-family: "PT Sans", sans-serif;
      font-size: 1.6rem;
      font-weight: 600;
      padding-top: 2rem; }
    .main-index .galeria .eslogan {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2; }
      .main-index .galeria .eslogan h2 {
        font-size: 10rem;
        font-family: 'Island Moments', cursive;
        font-weight: 300;
        text-align: center;
        padding: 1rem 0rem 2rem 0rem; }
    .main-index .galeria .galeria-fotos {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3;
      align-self: center;
      padding: 1rem 0rem 2.5rem 0rem; }
      .main-index .galeria .galeria-fotos ul {
        display: flex;
        justify-content: space-around; }
      .main-index .galeria .galeria-fotos img {
        width: 25rem;
        height: 25rem;
        object-fit: cover;
        border-radius: 12rem;
        border: solid 0.3rem black;
        transition: 600ms; }
      .main-index .galeria .galeria-fotos img:hover {
        border-radius: 0rem;
        transition: 600ms; }
    .main-index .galeria .galeria-fotos2 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 4;
      align-self: center;
      padding: 1rem 0rem 2.5rem 0rem; }
      .main-index .galeria .galeria-fotos2 ul {
        display: flex;
        justify-content: space-around; }
      .main-index .galeria .galeria-fotos2 img {
        width: 25rem;
        height: 25rem;
        object-fit: cover;
        border-radius: 12rem;
        border: solid 0.3rem black;
        transition: 600ms; }
      .main-index .galeria .galeria-fotos2:hover {
        border-radius: 0rem;
        transition: 600ms; }
  .main-index .historia {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    height: 55.2rem;
    border-bottom: 2px solid black; }
    .main-index .historia .historia-foto {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2; }
      .main-index .historia .historia-foto img {
        width: 100%;
        height: 55rem;
        object-fit: cover;
        border-top: 2px solid black; }
    .main-index .historia .historia-palabras {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2; }
      .main-index .historia .historia-palabras p {
        width: 70%;
        font-size: 2rem;
        font-family: "PT Sans", sans-serif;
        font-weight: 600;
        padding-left: 8rem; }

.pastas {
  background-color: #FECB89; }
  .pastas h4 {
    font-family: 'Island Moments', cursive;
    text-align: center;
    font-size: 10rem; }
  .pastas .pastas-hamburguesa {
    display: none; }
  .pastas .pastas-fotos ul {
    display: flex;
    justify-content: space-around; }
  .pastas .pastas-fotos img {
    width: 20rem;
    height: 20rem; }
  .pastas .pastas-pre li {
    width: 20rem;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .pastas .pastas-carrito li {
    width: 20rem;
    text-align: center; }
  .pastas .pastas-carrito input {
    margin-top: 1rem; }
  .pastas .enviar {
    margin-bottom: 2rem; }
  .pastas .carrito-pastas {
    position: fixed;
    bottom: 20px;
    right: 20px; }
    .pastas .carrito-pastas img {
      width: 7rem; }

.pedidos {
  padding-left: 7rem;
  background-color: #FECB89; }
  .pedidos h2 {
    font-family: "Island Moments", cursive;
    font-size: 10rem; }
  .pedidos li {
    padding-bottom: 3rem;
    font-family: "PT Sans", sans-serif;
    font-size: 1.6rem; }
  .pedidos h3 {
    font-size: 3rem; }
  .pedidos img {
    width: 4rem; }
  .pedidos li {
    list-style: none; }

.pedidos-enviar {
  background-color: #B9AC92;
  padding: 1rem 4rem;
  border: 5px groove #FECB89; }

.recetas {
  background-color: #FECB89; }
  .recetas .recetas1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-family: 'PT Sans', sans-serif;
    align-items: center;
    justify-items: center;
    padding-bottom: 3rem;
    padding-top: 1rem; }
    .recetas .recetas1 .recetas-nombres {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3; }
      .recetas .recetas1 .recetas-nombres h2 {
        font-size: 4rem;
        font-family: 'Island Moments', cursive;
        text-align: center; }
      .recetas .recetas1 .recetas-nombres h3 {
        font-size: 3rem;
        font-family: 'Island Moments', cursive;
        text-align: center;
        text-decoration: underline 1px; }
      .recetas .recetas1 .recetas-nombres ul {
        font-size: 1.6rem;
        text-align: center; }
      .recetas .recetas1 .recetas-nombres ol {
        font-size: 1.6rem;
        text-align: center; }
    .recetas .recetas1 .recetas-produccion {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3; }
      .recetas .recetas1 .recetas-produccion p {
        font-size: 1.6rem;
        word-spacing: 0.7rem; }
    .recetas .recetas1 .recetas-img img {
      display: none; }
    .recetas .recetas1 .recetas-videos {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3; }
      .recetas .recetas1 .recetas-videos iframe {
        width: 35rem;
        height: 30rem;
        border-radius: 20px; }

.main-ubicacion {
  height: 85.5rem;
  background-image: url(../assets/img/fotoubicacion.jpg);
  border-bottom: 2px solid black; }
  .main-ubicacion .ubicacion {
    text-align: center;
    padding-top: 15rem; }
    .main-ubicacion .ubicacion iframe {
      width: 55rem;
      height: 55rem;
      border-radius: 60px;
      object-fit: contain; }

@media (max-width: 1247px) {
  .logo img {
    height: 60.7rem; }
  .ruleta-fotos img {
    height: 60.5rem; }
  .footer .footer-horarios p {
    width: 20rem;
    font-size: 1.6rem;
    font-weight: 600; }
  .footer .footer-ubicacion p {
    width: 20rem; } }

@media (max-width: 1024px) {
  header .header-nav ul {
    justify-content: space-between;
    padding: 0rem 0.5rem 0rem 0.5rem; }
  .main-index article {
    height: 60.0rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 15rem); }
    .main-index article div img {
      height: 50.7rem; }
    .main-index article .ruleta-fotos img {
      height: 59.8rem; }
    .main-index article .horarios p {
      font-size: 2rem; }
  .main-index .galeria .galeria-fotos ul img {
    width: 19rem;
    height: 19rem; }
  .main-index .galeria .galeria-fotos2 ul img {
    width: 19rem;
    height: 19rem; }
  .main-index .historia {
    height: 40.2rem; }
    .main-index .historia .historia-foto img {
      height: 40rem; }
  .main-index .recetas-nombres h2 {
    font-size: 4rem; }
  .main-index .recetas-nombres h3 {
    font-size: 3rem; }
  .main-index .recetas-nombres li {
    font-size: 1.4rem; }
  .main-index .recetas-produccion p {
    font-size: 1.4rem; }
  .main-index .recetas-videos iframe {
    width: 30rem;
    height: 25rem; }
  .main-index .pastas h4 {
    font-size: 7rem; }
  .main-index .pastas-fotos img {
    width: 15rem;
    height: 15rem; }
  .main-index .pastas-pre li {
    font-size: 1.4rem;
    width: 15rem; }
  .main-index .pastas-carrito input {
    width: 10rem; }
  .main-index .recetas-nombres h2 {
    font-size: 4rem; }
  .main-index .recetas-nombres li {
    font-size: 1.4rem; }
  .main-index .recetas-produccion p {
    font-size: 1.4rem; }
  aside .redesCostado img {
    width: 3rem;
    height: 3rem; } }

@media (max-width: 768px) {
  header {
    background-color: #FBE6D4;
    border-bottom: 2px solid black;
    font-family: 'Island Moments', cursive;
    position: static;
    top: 0;
    z-index: auto;
    display: auto; }
    header .header-ul img {
      display: none; }
    header .header-nav {
      height: 6rem;
      padding: 10px 12px;
      position: relative; }
    header .checkbox, header .icons {
      width: 5rem;
      height: 5rem;
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer; }
    header .icons {
      pointer-events: none;
      font-size: 5rem; }
    header .checkbox {
      display: block;
      opacity: 0; }
    header .open {
      display: block; }
    header .checkbox:checked ~ .open {
      display: none; }
    header .checkbox:checked ~ .close {
      display: block; }
    header .header-ul {
      display: flex;
      flex-direction: column;
      background-color: #fbe6d4;
      justify-content: space-around;
      width: 100%;
      position: absolute;
      z-index: -1;
      top: -450px;
      right: 0px;
      transition: 200ms; }
      header .header-ul li a {
        text-align: center;
        border-bottom: 1px solid rgba(26, 25, 25, 0.589);
        display: block;
        padding: 3rem 2rem; }
    header .checkbox:checked ~ .header-ul {
      top: 6.2rem;
      z-index: 999; }
    header .header-inicio h1 {
      display: none; }
    header .header-inicio p {
      display: block; }
    header .header-nav {
      display: flex;
      align-content: center; }
    header .header-nav h3 {
      display: flex;
      font-size: 6rem;
      align-items: center;
      letter-spacing: 0.7rem;
      word-spacing: 1rem; }
  .main-index article {
    grid-template-rows: repeat(4, 12rem);
    height: 48.2rem; }
    .main-index article .logo {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 5;
      padding-top: 0rem; }
      .main-index article .logo img {
        height: 80%; }
    .main-index article .ruleta-fotos img {
      height: 48rem; }
    .main-index article .horarios p {
      font-size: 1.6rem; }
  .main-index .galeria {
    width: 100%;
    display: grid;
    grid-template: "eslogan eslogan"  "galeria-fotos . galeria-fotos ." "galeria-fotos .galeria-fotos ."; }
    .main-index .galeria .eslogan h2 {
      font-size: 6.5rem;
      font-weight: 600; }
    .main-index .galeria .galeria-fotos {
      padding: 0rem; }
      .main-index .galeria .galeria-fotos ul {
        display: grid;
        grid-template: "row1 row2" 27rem "row3 row4" 27rem; }
        .main-index .galeria .galeria-fotos ul li img {
          width: 20rem;
          height: 20rem;
          text-align: center; }
    .main-index .galeria p {
      font-size: 2.2rem; }
    .main-index .galeria .galeria-fotos2 {
      padding: 0rem; }
      .main-index .galeria .galeria-fotos2 ul {
        display: grid;
        grid-template: "row1 row2" 27rem "row3 row4" 27rem; }
        .main-index .galeria .galeria-fotos2 ul li img {
          width: 20rem;
          height: 20rem;
          text-align: center; }
  .main-index .historia .historia-palabras p {
    width: 100%;
    font-size: 1.6rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    padding-left: 7rem; }
  aside .redes-pastas {
    display: none; }
  .carrito-pastas {
    display: none; }
  .pastas {
    position: relative;
    height: 15rem; }
    .pastas .checkbox2, .pastas .fl {
      display: block;
      width: 10rem;
      height: 10rem;
      position: absolute;
      top: 10rem;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer; }
    .pastas .fl {
      text-align: center;
      pointer-events: none; }
    .pastas .checkbox2 {
      opacity: 0; }
    .pastas .fl-arriba {
      display: none; }
    .pastas .checkbox2:checked ~ .fl-abajo {
      display: none; }
    .pastas .checkbox2:checked ~ .fl-arriba {
      display: block; }
    .pastas .pastas-fotos {
      width: 100%;
      height: 100rem;
      background-color: #FECB89;
      display: none; }
      .pastas .pastas-fotos ul img {
        width: 12.5rem;
        height: 12.5rem; }
    .pastas .checkbox2:checked ~ .pastas-fotos {
      display: block; }
    .pastas .pastas-carrito li input {
      width: 15rem; }
  .recetas .recetas-videos {
    display: none; }
  .recetas .recetas1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding-top: 0rem; }
    .recetas .recetas1 .recetas-nombres h2 {
      font-size: 5rem; }
    .recetas .recetas1 .recetas-nombres li {
      font-size: 1.6rem; }
    .recetas .recetas1 .recetas-produccion {
      grid-column-start: 2;
      grid-column-end: 4;
      align-self: end; }
      .recetas .recetas1 .recetas-produccion .recetas-img {
        display: grid;
        grid-column-start: 2;
        grid-column-end: 4;
        padding-top: 1rem;
        padding-right: 0.5rem;
        padding-left: 0.8rem;
        padding-bottom: 1.5rem; }
        .recetas .recetas1 .recetas-produccion .recetas-img p {
          font-size: 1.7rem;
          font-weight: 600;
          text-align: center; }
        .recetas .recetas1 .recetas-produccion .recetas-img img {
          display: block;
          width: 100%;
          height: 15rem;
          object-fit: cover;
          box-shadow: 0px 5px 10px black;
          border-radius: 50%; }
  .footer .footer-img {
    display: none; }
  .footer .footer p {
    line-height: 2rem;
    font-size: 1.6rem;
    padding: 0rem; }
  .main-ubicacion {
    background-image: none;
    background-color: #FECB89; }
    .main-ubicacion .ubicacion {
      padding: 0rem; }
      .main-ubicacion .ubicacion iframe {
        width: 100%;
        height: 85.3rem;
        border-radius: 0%; } }

@media (max-width: 425px) {
  .header-all .header-main .header-nav h3 {
    font-size: 5rem; }
  aside {
    display: none; }
  .main-index article {
    grid-template-rows: repeat(4, 15rem);
    height: 65rem; }
    .main-index article .ruleta-fotos img {
      height: 64.8rem; }
    .main-index article .horarios {
      width: 100%;
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 5; }
      .main-index article .horarios p {
        font-size: 2rem;
        text-align: center; }
    .main-index article .logo {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 5;
      padding: 0; }
      .main-index article .logo img {
        width: 100%;
        height: 75%; }
  .main-index .galeria {
    width: 100%;
    display: grid;
    grid-template: "eslogan eslogan"  "galeria-fotos " "galeria-fotos "; }
    .main-index .galeria .eslogan h2 {
      font-size: 6.5rem;
      font-weight: 600; }
    .main-index .galeria .galeria-fotos {
      padding: 0rem; }
      .main-index .galeria .galeria-fotos ul {
        display: grid;
        grid-template: "row1 " "row2" "row3 " "row4"; }
        .main-index .galeria .galeria-fotos ul li img {
          width: 100%;
          height: 55rem;
          text-align: center;
          border-radius: 0;
          border: none;
          transition: 0ms;
          padding-top: 1.8rem; }
    .main-index .galeria .galeria-fotos2 {
      padding: 0rem; }
      .main-index .galeria .galeria-fotos2 ul {
        display: grid;
        grid-template: "row1 " "row2" "row3 " "row4"; }
        .main-index .galeria .galeria-fotos2 ul li img {
          width: 100%;
          height: 55rem;
          text-align: center;
          border-radius: 0;
          border: none;
          transition: 0ms;
          padding-top: 1.8rem; }
    .main-index .galeria p {
      text-decoration: dashed;
      font-size: 3rem; }
  .main-index .historia .historia-palabras p {
    padding-left: 0rem;
    width: 100%;
    font-size: 1.6rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    padding-left: 1rem; } }
