*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
html{
    font-size: 62.5%;
}
header{
    background-color: #FBE6D4;
    border-bottom: 2px solid black;
    font-family: 'Island Moments', cursive;
    position: sticky ;
    top: 0;
    z-index: 999;
}
header h1{
    font-size:10rem;
    font-weight: 600;
    word-spacing: 2rem;
}

.header-nav ul{
    display: flex;
    justify-content: space-around;
}

.header-ul li img{
    /* width:5rem; */
    padding-top: 1rem;
}
.header-all p{
    font-size:3rem;
    font-weight: 600;
    text-align: center;
}
main{
    background-color: #FECB89;

}
.logoHora{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
    height: 85.7rem; 
    border-bottom:2px solid black ;
}
.ruleta-fotos img{
    width: 100%;
    height: 85.5rem;
    filter: opacity(0.9);
    object-fit: cover;
}
.ruleta-fotos{
    grid-column-start: 1;
    grid-column-end: 5 ;
    grid-row-start: 1;
    grid-row-end: 5;
}
.logo {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end: 5;
    z-index: 1;
}
.logo img{
    width: 95%;
}
.horarios{
    width: 100%;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    z-index: 994;
}
.horarios p{
    font-family: 'PT Sans', sans-serif;
    font-size: 2.7rem;
    font-weight: 600;
}
.fotos-eslogan {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.eslogan  img{
    object-fit: cover;
    width: 20rem;
    height: 20rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}
.nombres-esgolan{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    font-size: 2rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
}
.eslogan h2{
    font-size:12rem;
    word-spacing: 2rem;
    font-weight: 300;
    font-family: 'Island Moments', cursive;
    text-align: center;
    /* padding-bottom: 2.5rem; */
}
.nombres-abajo{
    padding-bottom: 3rem;
}


.historia{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    align-items: center;
    height: 55.2rem;
    border-bottom: 2px solid black;
}
.historia-foto img{
    width: 100%;
    height: 55rem;
    object-fit: cover;
    border-top: 2px solid black;
}   
.historia-foto{
    grid-column-start: 1;
    grid-column-end:5;
    grid-row-start:1 ;
    grid-row-end: 2;
}
.historia-palabras{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1 ;
    grid-row-end: 2;
}
.historia-palabras p {
    width: 70%;
    font-size: 2rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    padding-left: 8rem;
}
.redesCostado{
    position: fixed;
    top: 40rem;
    left: 0.5rem;
}
.redesCostado img{
    width: 4rem;
    height: 4rem;
}
.redesCostado li{
    padding: 1.5rem 0rem 1.5rem 0rem
}
.footer{
    display: flex;
    background-color: #FFA931;
    justify-content: space-between;
}
.footer-class{
    font-family: 'PT Sans', sans-serif;
}

.footer-class ul{
    display: flex;
    flex-direction: column  ;
}
.footer-class img{  
    width: 3rem;
}
.footer-class h3{
    font-size: 2.5rem;
    text-align: center;
    padding-top: 0.5rem;
}
.footer-class li{
    font-size: 1.6rem;
    font-weight: 600;
}
.footer-horarios{
    font-family: 'PT Sans', sans-serif;
}

.footer-horarios h3{
    font-size: 2.5rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
.footer-horarios p{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 3.5rem;
    text-align: center;
}
.footer-ubicacion {
    font-family: 'PT Sans', sans-serif;
}
.footer-ubicacion h3{
    font-size: 2.5rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
.footer-ubicacion p{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 3.5rem;
    text-align: center;
}
.footer-img{
    display: flex;
}
.footer-img img{
    width: 17.1rem;
}
.main-ubicacion{
    height: 85.5rem;
    background-image: url(../assets/img/fotoubicacion.jpg);
    border-bottom: 2px solid black;
}
.ubicacion{
    text-align: center;
    padding-top: 15rem; 
}
.ubicacion iframe{
    width: 55rem;
    height: 55rem;
    border-radius: 60px;
    object-fit: contain;
}
.pedidos{
    padding-left:6rem;
}
.pedidos h2{
    font-family: 'Island Moments', cursive; 
    font-size: 10rem;
}
.pedidos li{
    padding-bottom: 3rem;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.6rem;
}
.pedidos h3{
    font-size: 3rem;
}
.pedidos img{
    width: 4rem;
}
.pedidos li{
    list-style: none;
}
.pedidos-enviar {
    background-color: #B9AC92;
    padding: 1rem 4rem;
    border: 5px groove #FECB89;
}  
.recetas1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    font-family: 'PT Sans', sans-serif;
    align-items: center;
    justify-items: center;
    padding-bottom: 3rem;
    padding-top: 1rem;
}
.recetas-nombres{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.recetas-produccion {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.recetas-videos{
    grid-column-start: 3;
    grid-column-end:4 ;
    grid-row-start:1 ;
    grid-row-end:3 ;

}
.recetas-nombres h2{
    font-size: 4rem;
    font-family: 'Island Moments', cursive; 
    text-align: center;
}
.recetas-nombres h3{
    font-size: 3rem;
    font-family: 'Island Moments', cursive; 
    text-align: center;
    text-decoration: underline 1px;
}
.recetas-nombres ul{
    font-size: 1.6rem;
    text-align: center;
}
.recetas-nombres ol{
    font-size: 1.6rem;
    text-align: center;

}
.recetas-produccion p{
    font-size: 1.6rem;
}
.recetas-videos iframe{
    width: 35rem;
    height: 30rem;
    border-radius: 20px;
}
.pastas h4{
    font-family: 'Island Moments', cursive; 
    text-align: center;
    font-size: 10rem;
}
.pastas-fotos ul{
    display: flex;
    justify-content: space-around;
}
.pastas-pre li{
    width: 20rem;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.6rem;
    padding-top:0.5rem ;
    padding-bottom: 0.5rem;
}

.pastas-fotos img{
    width: 20rem;
    height: 20rem;
}
.pastas-carrito li{
    width: 20rem;
    text-align: center;
}
.pastas-carrito input{
    margin-top: 1rem;

}
.enviar{
    margin-bottom: 2rem;
}
.carrito-pastas{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.carrito-pastas img{
    width: 7rem;
}
