.main-ubicacion{
    height: 85.5rem;
    background-image: url(../assets/img/fotoubicacion.jpg);
    border-bottom: 2px solid black;
    .ubicacion{
        text-align: center;
        padding-top: 15rem; 
        iframe{
            width: 55rem;
            height: 55rem;
            border-radius: 60px;
            object-fit: contain;
        }
    }
    .pedidos{
        padding-left:6rem;
        h2{
            font-family: 'Island Moments', cursive; 
            font-size: 10rem;
        }
        li{
            padding-bottom: 3rem;
            font-family: 'PT Sans', sans-serif;
            font-size: 1.6rem;
        }
        h3{
            font-size: 3rem;
        }
        img{
            width: 4rem;
        }
        li{
            list-style: none;
        }
    }
    .pedidos-enviar {
        background-color: #B9AC92;
        padding: 1rem 4rem;
        border: 5px groove #FECB89;
    }  
}