@media (max-width:768px) {
    header{
        background-color: #FBE6D4;
        border-bottom: 2px solid black;
        font-family: 'Island Moments', cursive;
        position: static;
        top: 0;
        z-index: auto;
        display: auto;
        .header-ul{
            img{
                display: none;
            }
        }
        .header-nav{
            height: 6rem;
            padding: 10px 12px;
            position: relative;
        }
        .checkbox, .icons {
            width: 5rem;
            height: 5rem;
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            
        }
        .icons {
            pointer-events: none;
            font-size: 5rem;
        }
        .checkbox {
            display: block;
            opacity:0 ; 
        }
        .open {
            display: block;
        } 
        .checkbox:checked~ .open {
            display: none;
        }
        .checkbox:checked~.close{
            display: block;
        }
        .header-ul{
            display:flex ;
            flex-direction: column;
            background-color: #fbe6d4;
            justify-content: space-around;
            width: 100%;
            position: absolute; 
            z-index: -1;
            top: -450px;
            right: 0px;
            transition: 200ms;
            li{
                a{
                    text-align: center;
                    border-bottom: 1px solid rgba(26, 25, 25, 0.589) ;
                    display: block;
                    padding: 3rem 2rem;
                }
            }
        }
        .checkbox:checked~ .header-ul {
            top:6.2rem;
            z-index: 999;
        }
        .header-inicio{
            h1{
                display: none;
            }
        }
        .header-inicio {
            p{
                display: block;
            }
        }
        .header-nav{
            display: flex;
            align-content: center;
        }
        .header-nav{
            h3{
            display: flex;
            font-size: 6rem;
            align-items: center;
            letter-spacing: 0.7rem;
            word-spacing: 1rem;}
        }
    }
    .main-index{
        article{
            grid-template-rows: repeat(4,12rem);
            height: 48.2rem;
            .logo{
                grid-column-start: 2;
                grid-column-end: 4;
                grid-row-start:1 ;
                grid-row-end: 5;
                padding-top: 0rem;
                img{
                    height: 80%;
                }
            }  
            .ruleta-fotos{
                img{
                    height: 48rem;
                }
            }
            .horarios{
                p{
                    font-size: 1.6rem;
                }
            }
        }
    
    .galeria{
        width: 100%;
        display: grid;
        grid-template: 
        "eslogan eslogan" 
        "galeria-fotos . galeria-fotos ."
        "galeria-fotos .galeria-fotos ." 
        ; 
        .eslogan  {
            h2{
                font-size: 6.5rem;
                font-weight: 600;
            }

        }

        .galeria-fotos {
            padding: 0rem;
            ul{
                display: grid;
                grid-template: 
                "row1 row2"27rem
                "row3 row4"27rem ;
                    li{
                        img{
                            width: 20rem;
                            height: 20rem;
                            text-align: center;
                            
                        }
                    }

            }
        }

        p {
            font-size: 2.2rem;
        }
        .galeria-fotos2 {
            ul{          
                 display: grid;
                grid-template: 
                "row1 row2"25rem
                "row3 row4"25rem ;
                padding: 0rem;
            }
        }

    }
    .historia {
    .historia-palabras{
        p{
            width: 100%;
            font-size: 1.6rem;
            font-family: 'PT Sans', sans-serif;
            font-weight: 600;
            padding-left: 7rem;
        }
    }
}
}

aside{
    .redes-pastas{
        display: none;
    }
}
.carrito-pastas{
    display: none;
}

.pastas{
    .checkbox2,.fl{
        display: block;
        width: 10rem;
        height: 10rem;
        position: absolute;
        top:10rem;
        left: 50%;
        transform: translate(-50%, -50%);   
        cursor: pointer;
    }
    .fl{
        text-align: center;
        pointer-events: none;
    }
    .checkbox2 {
        opacity: 0;
    }
    .fl-arriba{
        display: none;
    }
    .checkbox2:checked ~ .fl-abajo{
        display: none;
    }
    .checkbox2:checked ~ .fl-arriba{
        display: block;
    }
    position: relative;
    height: 15rem;
    .pastas-fotos{
        width: 100%;
        height: 100rem;
        background-color: #FECB89;
        display: none;
        ul{
            img{
                width: 12.5rem;
                height: 12.5rem;
            }
        }
    }
    .checkbox2:checked ~.pastas-fotos{
        display: block;
    }
    .pastas-carrito {
        li{
            input{
                width: 15rem;
            }
        }
    }
}
.recetas{
    .recetas-videos{
        display: none;
    }
    .recetas1 {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        padding-top: 0rem;
        .recetas-nombres{
            h2 {
                font-size: 5rem;
            }
            li{
                font-size: 1.6rem;
            }
        }
        .recetas-produccion {
            grid-column-start: 2;
            grid-column-end: 4;
            align-self: end;
            .recetas-img{
                display: grid;
                grid-column-start: 2;
                grid-column-end: 4;
                padding-top: 1rem;
                padding-right: 0.5rem;
                padding-left: 0.8rem;
                padding-bottom: 1.5rem;
                p { 
                    font-size: 1.7rem;
                    font-weight: 600;
                    text-align: center;
                }
                img {
                    display: block;
                        width: 100%;
                        height: 15rem;
                        object-fit: cover;
                        box-shadow: 0px 5px 10px rgb(0, 0, .35);
                        border-radius: 50%;
                    }
            }
        }
    }
}
.footer{
    .footer-img {
        display: none;
    }
    .footer p{
        line-height: 2rem;
        font-size: 1.6rem;
        padding: 0rem;
    }
}

.main-ubicacion {
    background-image: none;
    background-color: #FECB89;
    .ubicacion{
        padding: 0rem;
        iframe{
            width: 100%;
            height: 85.3rem;
            border-radius: 0%;
        }
    }
}
}