@media (max-width:1024px) {
    header{
    .header-nav{
        ul{
            justify-content: space-between;
            padding:0rem 0.5rem 0rem 0.5rem; 
        }
    }
}
    .main-index{
    article{
        height: 60.0rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(4,15rem);
        div {
            img{
                height: 50.7rem; 
            }
        }
        .ruleta-fotos{
            img{
                height: 59.8rem
            }
            
        }
        .horarios{
            p{
                font-size: 2rem;
            }
        }
    }

    .galeria {
        .galeria-fotos{
            ul{
                img{
                    width:19rem ;
                    height: 19rem;
                }
            }
        }
        .galeria-fotos2{
            ul{
                img{
                    width:19rem ;
                    height: 19rem;
                }
            }
        }
    }
    .historia {
        height: 40.2rem;
        .historia-foto{
            img{
                height: 40rem;
            }
        }
    }
    .recetas-nombres{
        h2{
            font-size: 4rem;
        }
        h3{
            font-size: 3rem ;
        }
        li {
            font-size: 1.4rem;
        }
    }
    .recetas-produccion{
        p{
            font-size: 1.4rem;
        }
    }
    .recetas-videos {
        iframe { 
            width: 30rem;
            height: 25rem;
        }
    }
    .pastas{
        h4 { 
            font-size: 7rem;
        }
    }
    .pastas-fotos{
        img {
            width: 15rem;
            height: 15rem;
        }
    }
    .pastas-pre{
        li {
            font-size: 1.4rem;
            width:15rem ;
        }
    }
    .pastas-carrito{
        input { 
            width: 10rem;
        }
    }
    .recetas-nombres{
        h2{
            font-size: 4rem;
        }
        li {
            font-size: 1.4rem;
        }
    }
    .recetas-produccion{
        p{
            font-size: 1.4rem;
        }
    }
}
    aside{
        .redesCostado{
            img{
                width: 3rem;
                height: 3rem;
            }
        }
    }
}
